# 799. Champagne Tower

We stack glasses in a pyramid, where the first row has 1 glass, the second row has 2 glasses, and so on until the 100th row.  Each glass holds one cup of champagne.

Then, some champagne is poured into the first glass at the top.  When the topmost glass is full, any excess liquid poured will fall equally to the glass immediately to the left and right of it.  When those glasses become full, any excess champagne will fall equally to the left and right of those glasses, and so on.  (A glass at the bottom row has its excess champagne fall on the floor.)

For example, after one cup of champagne is poured, the top most glass is full.  After two cups of champagne are poured, the two glasses on the second row are half full.  After three cups of champagne are poured, those two cups become full - there are 3 full glasses total now.  After four cups of champagne are poured, the third row has the middle glass half full, and the two outside glasses are a quarter full, as pictured below.



Now after pouring some non-negative integer cups of champagne, return how full the jth glass in the ith row is (both i and j are 0-indexed.)

 

Example 1:

Input: poured = 1, query_row = 1, query_glass = 1\
Output: 0.00000]
Explanation: We poured 1 cup of champange to the top glass of the tower (which is indexed as (0, 0)). There will be no excess liquid so all the glasses under the top glass will remain empty.\
Example 2:

Input: poured = 2, query_row = 1, query_glass = 1
Output: 0.50000\
Explanation: We poured 2 cups of champange to the top glass of the tower (which is indexed as (0, 0)). There is one cup of excess liquid. The glass indexed as (1, 0) and the glass indexed as (1, 1) will share the excess liquid equally, and each will get half cup of champange.\
Example 3:

Input: poured = 100000009, query_row = 33, query_glass = 17\
Output: 1.00000
 

Constraints:

0 <= poured <= 109\
0 <= query_glass <= query_row < 100

## Thought process

Start by initializing the entire glass contents up to the row querying. Afterwards, basically need to simulate the wine falling down. For a particular glass, if there is x amount of wine, subtract 1, divide by 2, and that is the amount (if greater than 0) that falls down into the next glass. 

However, we can be even more clever, since we don't need to calculate any wine glass that won't fill the queried glass.

For example, in this case:

   0
  1 2
 3 4 5
6 7 8 9

glass number 3 cannot fill up glass number 9. This allows us to save on number of computations.

If we we're interested in glass number 9, the computations would be as follows:
- fill 0
- fill 2
- fill 5
- fill 9
- return 9 (make sure that max is 1)

Also, one can speed up calculations by always including the two above it (or one if an end point), so there are less things to check

As of sep 24, 2023, this solution beats 100% of python solutions

## Code

In [569]:
def champagneTower(poured, query_row, query_glass):
    """
    :type poured: int
    :type query_row: int
    :type query_glass: int
    :rtype: float
    """
    glass_amount = [[0] * k for k in range(1, query_row+2)]
    glass_amount[0][0] = poured
    
    for row in range(1,query_row+1):
        start = max(0,query_glass-query_row+row)
        end = min(query_glass+1,row+1)
        if start==0:
            glass_amount[row][0] = max([(glass_amount[row-1][0]-1)/2.,0])
            start += 1
        if end==row+1:
            glass_amount[row][row] = max([(glass_amount[row-1][row-1]-1)/2.,0])
            end -= 1
        for col in range(start, end):
            glass_amount[row][col] = max([(glass_amount[row-1][col-1]-1)/2.,0]) + max([(glass_amount[row-1][col]-1)/2.,0])
                
    return min([glass_amount[query_row][query_glass], 1])

In [570]:
poured = 6
query_row = 3
query_glass = 2

champagneTower(poured, query_row, query_glass)

0.25

In [571]:
poured = 1
query_row = 1
query_glass = 1

champagneTower(poured, query_row, query_glass)

0.0

In [572]:
poured = 2
query_row = 1
query_glass = 1

champagneTower(poured, query_row, query_glass)

0.5

In [573]:
poured = 100000009
query_row = 33
query_glass = 17

champagneTower(poured, query_row, query_glass)

1