# Excel Sheet Column Number

Given a string columnTitle that represents the column title as appears in an Excel sheet, return its corresponding column number.

For example:

A -> 1\
B -> 2\
C -> 3\
...\
Z -> 26\
AA -> 27\
AB -> 28 \
...

Example 1:\
Input: columnTitle = "A"\
Output: 1

Example 2:\
Input: columnTitle = "AB"\
Output: 28

Example 3:\
Input: columnTitle = "ZY"\
Output: 701

Constraints:

1 <= columnTitle.length <= 7\
columnTitle consists only of uppercase English letters.\
columnTitle is in the range ["A", "FXSHRXW"].

## Thought process

Straightforward algebra calculation in base 26

## Code

In [99]:
def titleToNumber(columnTitle):
    """
    :type columnTitle: str
    :rtype: int
    """
    res = 0
    for i in range(len(columnTitle)):
        res *= 26
        res += ord(columnTitle[i]) - 64
    return(res)

In [100]:
columnTitle = "A"

titleToNumber(columnTitle)

1

In [101]:
columnTitle = "AB"

titleToNumber(columnTitle)

28

In [103]:
columnTitle = "ZY"

titleToNumber(columnTitle)

701